header h1 {
  text-align: center;
}

body {
  font-family: sans-serif;
  margin:0;
  background-color:black;
  background-image:url('http://i0.kym-cdn.com/photos/images/newsfeed/000/328/161/576.gif');
}

#renderer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}

#background {
   background-image:url('http://i0.kym-cdn.com/photos/images/newsfeed/000/328/161/576.gif');
   /* background-size: cover; */
   background-repeat: repeat;
   width: 100%;
   z-index: -1;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   filter: blur(5px);
   /* filter: saturate(100); */
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-top:15px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: #4CAF50;
}

.container {
    width: 1000px;
}
.container nav {
    width: 1000px;
}

.spurdo {
  height:100px;
  width:100px;
   animation: spurdo 1s infinite linear;
}
@keyframes spurdo {
	0% {transform:rotate(0deg)}
	100% {transform: rotate(360deg)}
}
.ad-box {
    position: absolute;
    z-index: 99999;
    width: 500px;
    height: 300px;
    background: linear-gradient(to bottom, black, red 40px, darkred);
    box-shadow: 0 0 5px 2px #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 40px 10 10 10px;
    color: #fff;
}
.ad-box p {
    font-size: 24px;
    font-family: serif;
}
.ad-box .ad-top {
    height: 30px;
    width: 100%;
    background:linear-gradient(to bottom, grey, #858585 25px, #444 25px, grey);
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #444;
    padding: 0 10px;
    overflow: hidden;
}
.ad-box .ad-top span {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    overflow: hidden;
    white-space:nowrap;
}
.ad-box .ad-top span b {
    display: inline-block;
    position: relative;
    width: 100%;
    animation: ad-marquee 2s linear infinite;
    white-space:nowrap;
}
@keyframes ad-marquee {
    0% { left: 0; }
    100% { left: -100% }
}
.ad-box .ad-close-btn {
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 1px;
    border: 1px solid transparent;
    border-radius: 2px;
    float: right;
    z-index: 1;
}
.ad-box .ad-close-btn:hover {
    /*background: linear-gradient(to bottom, #a0a0a0, #fff);*/
    background: linear-gradient(to bottom, #fff, #a0a0a0);
    border-color: #000;
    cursor: pointer;
    color: red;
}
.ad-box .ad-close-btn:before {
    content: '\2573';
    display: block;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    margin: 1px;
}
.ad-box .ad-cool-button {
    display: inline-block;
    position: relative;
    color: #000;
    font-weight: bold;
    padding: 10px;
    background: linear-gradient(to bottom, #ffe700, #bfb127 80%);
    border-radius: 10px;
    border: 2px solid #6d6100;
    box-shadow: inset 0 0 3px 0px #f3ff00;
    cursor: pointer;
}
.ad-box .ad-cool-button:hover {
    background: linear-gradient(to top, #ffe700, #bfb127 80%);
}
.ad-box .ad-cool-button:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #000;
}
.cursor {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNCAwbDE2IDEyLjI3OS02Ljk1MSAxLjE3IDQuMzI1IDguODE3LTMuNTk2IDEuNzM0LTQuMzUtOC44NzktNS40MjggNC43MDJ6Ii8+PC9zdmc+");
    width: 24px;
    height: 24px;
    fill: white;
}
.ad-box .ad-cool-button .cursor {
    position: absolute;
    animation: ad-cursor 2s linear infinite;
}
@keyframes ad-cursor {
    0% { left: 90%; top: 110% }
    50% { left: 77%; top: 80% }
    100% { left: 90%; top: 110% }
}
.ad-blend-in {
    animation: ad-blend-in 1s ease-out forwards;
}

@keyframes ad-blend-in {
    0% { left: -100% }
    100% { left: 0% }
}